/* Container styling */
.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    position: relative;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* File input and button styling */
input[type="file"] {
    display: none;
}

label {
    display: inline-block;
    background-color: #789fe7;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    border-radius: 4px;
}

label.video-label {
    background-color: #789fe7;
}

label.file-label {
    background-color: #789fe7;
}

button.refresh-button {
    background-color: #6c757d;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.refresh-button:hover,
label:hover {
    background-color: #030303;
}

/* Metrics display styling */
.metrics-display {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
    background-color: #f8f9fa;
}

/* Video player styling */
.video-player {
    width: 100%;
    margin-top: 20px;
    border-radius: 4px;
}

/* Metrics chart styling */
.metrics-chart {
    margin-top: 20px;
    max-height: 400px;
}

/* Timestamp data styling */
.timestamp-data {
    margin-bottom: 20px;
}

.timestamp-data h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.timestamp-data ul {
    padding-left: 20px;
}

.timestamp-data ul li {
    list-style-type: disc;
    margin-bottom: 5px;
}

/* File controls container styling */
.file-controls {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
